@page
@using Server.Models;
@model Server.Pages.SeeYourAds

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "SeeYourAds";
}

@if(Model.SellAds.Count != 0 ){<h2>Säljannonser</h2>}
@foreach (SellAd SellAd in Model.SellAds)
{
                <div class="sell-ad">
                    <h3>@SellAd.Title</h3>
                    <p>Beskrivning: @SellAd.Description</p>
                    <p>Pris: @SellAd.Price</p>
                    <p>Längd: @SellAd.Length </p>
                </div>
}
@if (Model.SellAds.Count != 0)
{
    <h2>Köpannonser</h2>
}
@foreach (BuyAd buyAd in Model.BuyAds)
{
        <title>Sell Ad</title>
        <style>
            .sell-ad {
                border: 1px solid #ccc;
                padding: 10px;
                width: 300px;
                background-color: #f5f5f5;
                font-family: Arial, sans-serif;
            }
        </style>

            <div class="sell-ad">
                <h3>@buyAd.Title</h3>
                <p>Beskrivning: @buyAd.Description</p>
                <p>Pris: @buyAd.Price </p>
                <p>Längd: @buyAd.Length</p>
                <p>Kontakt:</p>
            </div>
}


<!DOCTYPE html>

<html>
    <body id="textDiv">
        <head>
    <title>Se dina anonnser</title>
    <link rel="stylesheet" href="css/CreateAd.css">
</head>
</body>


<body id="background">
<div id="textDiv">
    <h1 class="display-4">Logga in för att se dina annonser</h1>
    <form method="post">
        <div class="container">
            
            <div class="box"><label for="Username">Användarnamn</label></div>
            <div class="box"><input id="Username" name="Username" type="Text"/></div>
            <div class="box"><label for="Password">Lösenord</label></div>
            <div class="box"><input id="Password" name="Password" type="Text"/></div>
            
            <div class="box"><input type="submit" value="Se dina annonser" name="submit"></div>
        </div>
    </form>


</div>
</body>
</html>
}